<div id="<%= dom_id post %>">
  <div>
    <strong>Title:</strong>
    <%= post.title %>
  </div>

  <div>
    <strong>Slug:</strong>
    <%= post.slug %>
  </div>

  <div>
    <strong>Body:</strong>
    <%= post.body %>
  </div>

  <div>
    <strong>Published at:</strong>
    <%= post.published_at %>
  </div>

  <div>
    <strong>Published:</strong>
    <%= post.published %>
  </div>

</div>
